body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #007bff;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 15px;
}

ul li a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  width: 250px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

ul li a:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#photoCategory {
  display: block;
  margin-top: 10px;
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
